@import "./variables.scss";
@font-face {
  font-family: "Title";
  src: url("../fonts/SFPRODISPLAYBOLD.OTF");
}
@font-face {
  font-family: "Text";
  src: url("../fonts/SFPRODISPLAYREGULAR.OTF");
}
@media (prefers-color-scheme: dark) {
  header {
    background-color: black;

    .comment.bg_style {
      background: linear-gradient(225deg, #262526 0%, #19181a 100%);
      color: white;
    }
    .bottom_text {
      font-size: 11px;
      line-height: 15px;
      text-align: center;
      color: #7d7d80;
      margin-top: 21px;
      height: 34px;
      font-family: "Text";
    }
    .prices {
      .price {
        background: #373640;
        color: #ffffff;

        .price_month {
          color: #ffffff;
        }
        .date {
          color: #ffffff;
        }
      }
    }
  }
}
body {
  margin: 0 auto;
  width: 320px;
  height: 568px;

  header {
    height: 40%;
    background-repeat: no-repeat;
    position: relative;
  }

  .close {
    height: 32px;
    width: 32px;
    position: absolute;
    right: 3.2%;
    bottom: 89.7%;
    cursor: pointer;
  }
  .title h1 {
    font-family: "Title";
    font-size: 24px;
    width: 100%;
    color: $aliceblue;
    text-align: center;
    position: relative;
    line-height: 41px;
    letter-spacing: 0.26px;
    margin-top: 45px;
    margin-left: 18px;
  }
  .title {
    display: flex;
    width: 100%;
    height: 82px;
  }
  .list {
    display: flex;
    margin-bottom: 10px;
  }
  .list ul {
    font-family: "Text";
    color: $aliceblue;
    font-size: 14px;
    margin: 0px;
    padding-left: 20px;
    width: 100%;
    position: relative;
  }
  .list li {
    list-style: none;
    padding: 6px 0;
    line-height: 14.06px;
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.0001),
      rgba(255, 255, 255, 0.6901),
      rgba(255, 255, 255, 0.0001)
    );
    &:first-child {
      border-top: 1px solid;
    }
  }
  .woman {
    position: absolute;
    top: 9.5%;
    right: 22.2%;
  }
  .comments {
  }
  .flex_container {
    display: flex;
  }
  .comment_block {
    height: 40px;
  }
  .comments_title {
    font-size: 17px;
    font-family: "Text";
    font-weight: 600;
    margin-left: 17px;
    margin-bottom: 0px;
    height: 20px;
    margin-top: 13px;
  }
  .name {
    margin-left: 122px;
    color: rgb(153, 152, 152);
  }
  .stars {
    margin-left: 15px;

    .star {
      padding-left: 2px;
    }
  }
  .comments_text {
    margin: 0px;
    margin-left: 10px;
    font-size: 15px;
  }
  figure {
    margin: 0px;
    position: relative;
  }
  .bg_style {
    background-color: #f3f2f9;
    border-radius: 5%;
    width: 280px;
    height: 115px;
  }
  .comment {
    margin-left: 2px;
    margin-right: 2px;
  }
  .prices {
    width: 88%;
    margin: 0 auto;
    margin-top: 7px;
    justify-content: center;
    align-items: flex-end;
  }
  .price {
    background-color: #f3f2f9;
    border-radius: 5px;
    font-family: "Text";
    margin-right: 4px;
    margin-left: 4px;
    flex-basis: 33%;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    &.selected {
      background: linear-gradient(225deg, #894ac9 0%, #4d46b1 100%);
      backdrop-filter: blur(9.06094px);
      color: aliceblue;

      .date {
        color: aliceblue;
      }
      .price_month {
        color: aliceblue;
      }
    }

    .date {
      font-size: 20px;
      line-height: 19px;
      text-align: center;
      color: #1a1a1a;
      font-family: "Title";
      font-weight: bold;
      margin-bottom: 5px;
      margin-top: 8px;
    }

    .price_month {
      font-size: 11px;
      line-height: 13px;
      text-align: center;
      letter-spacing: -0.3px;
      color: #1a1a1a;
      margin-bottom: 3px;
    }
    .price_month2 {
      margin-bottom: 8px;
      font-size: 10px;
      margin-left: 13px;
    }
    .orange_bg {
      background-color: #fca759;
      font-size: 11px;
      line-height: 15px;
      text-align: center;
      letter-spacing: 0.66px;
      text-transform: uppercase;
      color: #1a1a1a;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    .orange_bg_smole {
      font-size: 7px;
      line-height: 15px;
      text-align: center;
      letter-spacing: 0.42px;
      text-transform: uppercase;
      color: #1a1a1a;
      background: #fca759;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      height: 15px;
    }
  }
  .btn_container {
    width: 88%;
    margin: 0 auto;

    .btn {
      width: 100%;
      font-size: 22px;
      line-height: 28px;
      text-align: center;
      letter-spacing: 0.0352px;
      color: #ffffff;
      background: linear-gradient(225deg, #542285 0%, #222266 100%);
      border-radius: 5px;
      border: none;
      margin-top: 16px;
      padding-bottom: 10px;
      padding-top: 10px;
      cursor: pointer;
    }
  }
  .bottom_text {
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #7d7d80;
  }
  .discount-bottom {
    height: 15px;
  }
  .graph_top {
    position: absolute;
  }
  .graph_bottom {
    position: absolute;
  }
  .group {
    position: absolute;
    right: 6%;
  }
}
@media (min-width: 375px) and (max-width: 414px) {
  body {
    width: 375px;
    height: 812px;
    margin: 0 auto;

    header {
      background-size: 375px;
    }

    .woman {
      height: 270px;
      top: 15.5%;
      right: 15.2%;
    }
    .title h1 {
      font-size: 34px;
      line-height: 41px;
      margin-top: 71px;
      margin-left: 0px;
    }
    .close {
      top: 7%;
    }
  }
}
